* {
	font-family: lato, serif;
	padding: 0px;
	margin: 0px;
}

body {
	overflow: hidden;
}

.container-head {
	background-image: url("https://images.unsplash.com/photo-1542824202-31b6eae33e02?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.headers {
	height: 100px;
	padding: 0 20px;
	color: #fff;
}

.logos {
	line-height: 100px;
	float: left;
	margin-left: 40px;
	text-transform: uppercase;
	border: 1px solid white;
}

.logos img {
	height: 100px;
	width: 90px;
}

.menus {
	float: right;
	line-height: 100px;
}

.menus a {
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	transition: .4s;
}

.btn-group {
	line-height: 10px;
}

.show-menu,
.hide-menu {
	transition: .4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu i {
	float: right;
	line-height: 100px;
}

.menus a:hover,
.show-menu:hover,
.hide-menu:hover {
	color: black;
	text-decoration: none;
	background: white;
	border-radius: 5px;
}

#ceks {
	position: absolute;
	z-index: -1111;
	visibility: hidden;
}

@media screen and (max-width: 1000px) {

	.show-menu,
	.hide-menu {
		display: block;
	}

	.menus {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: grey;
		right: -100%;
		top: 0;
		text-align: center;
		line-height: normal;
		padding: 90px 0px;
		transition: .7s;
	}

	.menus a {
		display: block !important;
		padding: 20px;
		background: red;
	}

	.hide-menu {
		position: absolute;
		top: 40px;
		right: 40px;
	}

	#ceks:checked~.menus {
		right: 0;
	}
}

.main {
	margin: auto;
	max-width: 100%;
}

.title1 {
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
}

.button11 {
	margin-top: 5px;
	position: absolute;
	top: 55%;
	left: 38%;
	color: white;
	transform: translate(-50%, -50);
}

.btn11 {
	border: 1px solid transparent;
	color: black;
	background-color: white;
	padding: 10px 30px;
	border-radius: 8px;
	text-decoration: none !important;
}

.btn11 a {
	padding: 4px;
	font-family: lato;
	font-style: bold;
}

/*Bagian Main kedua*/

.main1 {
	margin: auto;
	box-sizing: border-box;
	max-width: 100%;
}

.bg-main1 {
	background-image: url("https://images.unsplash.com/photo-1508900294672-208189dc1b2f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.tm1 {
	position: absolute;
	top: 150%;
	left: 70%;
	transform: translate(-50%, -50%);
	color: white;
}

.button1 {
	margin-top: 5px;
	position: absolute;
	top: 155%;
	left: 38%;
	color: white;
	transform: translate(-50%, -50);
}

.btn1 {
	border: 1px solid transparent;
	color: black;
	background-color: white;
	padding: 10px 30px;
	border-radius: 8px;
	text-decoration: none !important;
}

.btn1 a {
	padding: 4px;
	font-family: lato;
	font-style: bold;
}

#check {
	display: ;
}

.checkbtn {
	color: white;
	font-size: 200px;
	cursor: pointer;
	float: right;
}

@media (max-width: 780px) {

	.capt,
	.logo1 img {
		width: 55px;
		height: 50px;
		transition: all .3s;
	}

	nav .navbar li {
		border: 1px solid red;
		display: block;
	}

	nav .navbar li a {
		font-size: 17px;
		padding-left: 20px;
		transition: all .3s;
	}

	.title1,
	.tm1 {
		left: 90%;
		transition: all .3s;
	}

	.button11,
	.button1 {
		left: 30%;
		transition: all .5s;
	}
}

/*Bagian Course*/
.sec {
	margin: 0px;
	padding: 0px;
	background: #EEEEEE;
}

.teks {
	font-family: Montserrat, sans-serif;
	margin: 2px 15px;
	padding: 15px 17px;
	border-bottom: 1px solid grey;
}

.teks h1 {
	border-bottom: 1px solid grey;
}

.container-section {
	display: flex;
	padding: 5px 20px;
	left: 50%;
}

#img {
	margin-top: 10px;
	padding: 0px;
	max-width: 100%;
	width: 200px;
	height: 100px;
}

a #capti {
	color: black;
	text-decoration: none !important;
}

#capti {
	text-decoration: none;
	font-weight: bold;
	font-family: Raleway;
	font-size: 25px;
}

#ket {
	font-size: 15px;
	font-family: Lato;
}

.card {
	max-height: 100%;
	max-width: 100%;
	flex-grow: 1;
	background-color: white;
	margin: 10px 20px;
	margin-bottom: 50px;
	border: 1px solid none;
	border-radius: 10px;
	padding: auto;
	text-align: center;
	box-shadow: 0 0 7px 0;
	width: auto;
	object-fit: contain;
	object-position: center;
}

.card:hover {
	box-shadow: 0 0px 10px 3px;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
	cursor: pointer;
}

@media (max-width: 780px) {
	#img {
		padding: 2px 10px;
		transition: .3s;
	}

	#capti {
		font-size: 20px;
		transition: .3s;
	}

	#ket {
		display: none;
		transition: .3s;
	}

	.card {
		height: 180px;
		tansition: .10s;
	}
}

@media (max-width:670px) {
	.card {
		height: 180px;
	}
}


/*Bagian main ke 3*/
.main2 {
	margin: auto;
	max-width: 100%;
}

.bg-main2 {
	background-image: url("https://images.unsplash.com/photo-1506202134959-c12dae6a1fdd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.log-main2 {
	margin: 10px 20px;
	height: 90px;
	width: 95px;
	background-position: center;
	background-size: cover;
	padding: 10px 10px 10px 0px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.tm2 {
	position: relative;
}

.cont-main2 {
	top: 200px;
	float: left;
	width: 60px;
	height: 65px;
	margin: 10px 20px;
	background-position: center;
	background-size: cover;

}

.text {
	float: left;
	padding: 30px 0px;

}


section {
	padding: 5em 0;
}

.sec-services h2,
.sec-services p {
	font-weight: 300;
	text-align: center;
}

.sec-services {
	background: #f9f9f9;
}

.sec-services i {
	display: block;
	margin: auto;
	width: 45px;
}

.sec-services .fa-paint-brush {
	width: 64px;
}

.sec-services .fa-code {
	width: 68px
}

.sec-services h2 {
	margin: 1em 0;
}

/*About*/

.sec-about a {
	color: #000;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $red;
	}
}